Repository MaxKorlaar/hypixel-signatures, pull requests merged in 2020-10, with the labels that each got.

#50 Update all packages
  .env.example
  .idea/hypixel-signatures.iml
  .idea/php.xml
  .phpstorm.meta.php
  _ide_helper.php
  composer.json
  composer.lock
  config/queue.php
  package.json
  pnpm-lock.yaml
Labels: dependencies

#57 Update composer to v2, move classes to support PSR-4 autoloading
  .idea/hypixel-signatures.iml
  .idea/php.xml
  .phpstorm.meta.php
  _ide_helper.php
  app/Utilities/MinecraftAvatar/ThreeD/ImageHelper.php
  app/Utilities/MinecraftAvatar/ThreeD/Point.php
  app/Utilities/MinecraftAvatar/ThreeD/Polygon.php
  app/Utilities/MinecraftAvatar/ThreeD/Renderer.php
  app/Utilities/MinecraftAvatar/ThreeDAvatar.php
  composer.lock
Labels: php

#56 Update guild.php
  resources/lang/nl_BE/guild.php
Labels: enhancement, php

#58 Rename Bed Wars level to stars and add the SkyWars level to its signature
  app/Http/Controllers/IndexController.php
  app/Http/Controllers/Signatures/BedWarsSignatureController.php
  app/Http/Controllers/Signatures/SkyWarsSignatureController.php
Labels: enhancement, php
